
<div class="all">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    
    <div class="contenedor" (click)="MyTournaments()">
        <mat-card class="tournament">
            <div class="s-tournament"></div>
            <div class="t-tournament"><p>My Tournaments</p></div>
            
        </mat-card>
        
        <mat-card class="join"  (click)="JoinTournaments()">
            <div class="s-join" ></div>
            <div class="t-join"><p>My Joined Tournaments</p></div>
        </mat-card>
        
    </div>
</div>

