<!-- <div *ngIf="currentUser; else loggedOut">
  <header>
    <h3><strong>{{ currentUser.username }}</strong></h3>
  </header>
  <p><strong>Token:</strong>
    {{ currentUser.token }}
  </p>
  <p><strong>Player:</strong>
    {{ player }}
  </p>
</div>
<ng-template #loggedOut>
  Please authenticate first.
</ng-template> -->
<div>
  <div class="contenedor">
    <mat-card>
      <button (click)="abrirModalEditar()" class="button-editar" mat-raised-button color="primary"> Editar</button>
      <div class="img-profile">
        <img class="img-user" src="../../../assets/user-1633249_1280-768x749.png" alt="">
      </div>
      
      <div class="datos">
        <div>
          <h3>Firstname</h3>
          <h4>{{player.firstName}}</h4>
        </div>

        <div>
          <h3>Lastname</h3>
          <h4>{{player.lastName}}</h4>
        </div>

        <div>
          <h3>Cellphone</h3>
          <h4>{{player.phoneNumber}}</h4>
        </div>

        <div>
          <h3>Email</h3>
          <h4>{{player.emailAddress}}</h4>
        </div>

        <div>
          <h3>Gender</h3>
          <h4>{{player.gender}}</h4>
        </div>

        <div>
          <h3>Description</h3>
          <h4>{{player.description}}</h4>
        </div>

        <div>
          <h3>Birth Date</h3>
          <h4>{{player.birthDate}}</h4>
        </div>

        <div>
          <h3>Username</h3>
          <h4>{{player.username}}</h4>
        </div>

        <div>
          <h3>Level</h3>
          <h4>{{player.level}}</h4>
        </div>

        <div>
          <h3>Hours Played</h3>
          <h4>{{player.hoursPlayed}}</h4>
        </div>

        <div>
          <h3>Kill Death Ratio</h3>
          <h4>{{player.killDeathRatio}}</h4>
        </div>

        <div>
          <h3>Created</h3>
          <h4>{{player.createdAt}}</h4>
        </div>

      </div>
    </mat-card>
  </div>
  
  
</div>
