<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="inner">
      <a mat-flat-button color="primary" class="divSpacing" >FILL MY TEAM</a>
      <a mat-flat-button color="primary" class="divSpacing">FIND A TEAM</a>
      <a mat-flat-button color="primary" routerLink="/createTeam" routerLinkActive="active">CREATE TEAM</a>
      <a mat-flat-button color="primary" routerLink="/addTeamPlayer" routerLinkActive="active">EDIT TEAM</a>
      <a mat-flat-button color="primary" class="divSpacing">CHAT</a>
      <a mat-flat-button color="primary" class="divSpacing">PROFILE</a>
    </div>
  </mat-toolbar-row>
