<div id="app">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>games</mat-icon>
      </button>
      <span class="app-name">Team Match</span>
      <div routerLinkActive="active">
        <a mat-button *ngIf="isLoggedIn" (click)="toHomePage()">Home</a>
        <a mat-button *ngIf="isLoggedIn" [routerLink]="'/players'">Players</a>
        <a mat-button *ngIf="isLoggedIn" [routerLink]="'/organizers'">Organizers</a>
        <a mat-button *ngIf="isLoggedIn" [routerLink]="'/player/organizers'">Tournaments</a>
        <a mat-button *ngIf="isLoggedIn" [routerLink]="'/teams'">Teams</a>
      </div>
      <span class="flex-expand"></span>
      <div *ngIf="!isLoggedIn">
        <a mat-button [routerLink]="'/register'">Sign Up</a>
        <a mat-button [routerLink]="'/login'">Sign In</a>
      </div>
      <div *ngIf="isLoggedIn">
        <a mat-button [routerLink]="'/profile'">{{ username }}</a>
        <a mat-button href (click)="logout()">Sign Out</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
