Updated upstream
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.nav-list {
  height: 25%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 1rem;
}

.nav-item {
  display: inline-block;
  box-sizing: border-box;
  line-height: 42px;
  height: 42px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  color:#282a3f;
}

.nav-item:hover {
  background: #4B7BFF;
  color: #fff;
  font-weight: 400;
}

.nav-item:active {
  background: #4B7BFF;
  color: #fff;
  font-weight: 400;
=======
body {
  background-color: #222d2d;
  background-image: url("../assets/fondo.jpg");
  background-repeat: repeat-x;
  background-position: 0 0;
}




.flex-expand {
  flex: 1 1 auto;
}


.app-name {
  padding-left: 10px;
  padding-right: 10px;
>>>>>>> Stashed changes
}
