<div class="all">
    <mat-card class="contenedor">
        <mat-card class="tablaFree" >
            <h1>Teams</h1>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> #ID </th>
                  <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> TeamName </th>
                  <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="teamSize">
                  <th mat-header-cell *matHeaderCellDef> Size </th>
                  <td mat-cell *matCellDef="let element"> {{ element.teamSize }}</td>
                </ng-container>
                <ng-container matColumnDef="levelAverage">
                  <th mat-header-cell *matHeaderCellDef> Level Average </th>
                  <td mat-cell *matCellDef="let element"> {{ element.levelAverage}}</td>
                </ng-container>
                <ng-container matColumnDef="hoursPlayed">
                  <th mat-header-cell *matHeaderCellDef> Hours Played </th>
                  <td mat-cell *matCellDef="let element"> {{ element.hoursPlayed}}</td>
                </ng-container>
                <ng-container matColumnDef="createdAt">
                  <th mat-header-cell *matHeaderCellDef> Created At </th>
                  <td mat-cell *matCellDef="let element"> {{ element.createdAt}}</td>
                </ng-container>
                <ng-container matColumnDef="unirse">
                  <th mat-header-cell *matHeaderCellDef> Unirse </th>
                  <td mat-cell *matCellDef="let element">
                    <button (click)="unirseTeam(element.id)" mat-button color=primary >
                        <span class="material-icons"> login </span>
                      </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </mat-card>
    </mat-card>

</div>
