table {
  width: 80%;
  margin: auto;
}
tr.editable-row {
  background-color: lightcyan;
}
tr{
  background:royalblue;

}
th{
  color: white;
}
td{
  background: white;
}

.card-header{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;

}

.btn-ranking{
  align-self: center;
  
}




